body {min-width: 1224px;margin-top: 0px;background: white;}
a {text-decoration: none;}
.clear{clear: both;}
.ad_container{margin-top: 100px;}
.ad_container p{color: red;padding: 0px 0px 20px 0px;text-align: center;}
.login {margin: 20px auto;width: 300px;padding: 30px 25px;background: white;border: 1px solid #c4c4c4;}
.login-title {margin: -28px -25px 25px;padding: 10px 25px;line-height: 30px;font-size: 25px;font-weight: 300;color: #ADADAD;text-align:center;background: #f7f7f7;}
.login-input {width: 285px;height: 40px;margin-bottom: 40px;padding-left:10px;font-size: 15px;background: #fff;border: 1px solid #ebebeb;border-radius: 4px;}
.login-input:focus {border-color:#62c2e4;outline: none;}
.login-button {width: 100%;height: 50px;padding: 0;font-size: 20px;color: #fff;text-align: center;background: #f0776c;border: 0;border-radius: 5px;cursor: pointer; outline:0;}
.login-lost{text-align:center;margin-bottom:0px;}
.login-lost a{color:#666;text-decoration:none;}
.p_error{color: red;margin: 25px 0px 0px 0px;text-align: center;}
.span{color: red;}
.error{border-color: red;}
.loading{text-align:center;}